* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5f5fc;
    font-family: Arial;
    text-align: center;
}

header {
    color: white;
    background-image: url("../img/cnit_header.jpg");
    background-size: cover;
    padding: 40px 0;
}

h1 {
    font-size: 50px;
}

.topMenu {
    background-color: #7da9c4;
    color: white;
    height: 32px;
    margin-bottom: 5px;
    padding-top: 12px;
}

.topMenuList {
    list-style-type: none;
    text-align: center;
}

.topMenuItem {
    display: inline;
    margin: 10px;
}

.topMenuItem:first-child {
    font-size: 20px;
    color: white;
}

.topMenuItem a {
    font-size: 20px;
    text-decoration: none;
    color:white;
}

.topMenuItem a:hover {
    color: #013759;
}

.menuItem a {
    display: block;
    padding: 10px;
    color: #013759;
    font-size: 18px;
    background-color: white;
    text-decoration: none;
}

.menuItem a:hover {
    background-color: #7da9c4;
    color: white;

}

.menu {
    list-style-type: none;
}

.menu .menuItem {
    margin: 5px;
}

.validationImage {
    border: 0;
    height: 31px;
    width: 88px;
}

.validationLink {
    margin: 5px;
    text-decoration: none;
}

.underConstructionText {
    color: #013759;
    font-size: 50px;
    font-weight: bold;
    margin: 50px;
}

.lastUpdated {
    font-size: 14px;
    margin: 5px;
}

.with-padding {
    padding: 10px;
}

table {
    margin: 0 auto;
}

#table-results {
    border-collapse: collapse;
    text-align: right;
}

#table-results th,
#table-results td {
    width: 100px;
    border: 1px solid black;
    padding: 5px;

}

.dotted-table td {
    border: 1px dotted black;
    padding: 3px;
}

#instructions {
    display: none;
}

.currency-table {
    border-collapse: collapse;
}

.currency-table td {
    border: 1px solid black;
    padding: 5px;
    width: 150px;
    text-align: right;
}

.currency-table th {
    border: 1px solid black;
    padding: 5px;
    width: 150px;
}

.table-right-align th, td, input {
    text-align: right;
}

.table-border {
    border-collapse: collapse;
}

.table-border td {
    border: 1px solid black;
    width: 120px;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.balance-result {
    width: 600px;
    height: 200px;
    background-color: white;
    color: black;
    margin: auto;
}

.temperature-result {
    width: 120px;
    background-color: white;
}

#draggable {
    width: 150px;
    height: 50px;
    padding: 0.5em;
    background-color: #7da9c4;
    color: white;
}

.animated-box {
    background:#7da9c4;
    height:70px;
    width: 66px;
    margin: auto;
    background-image: url("../img/santa.gif");
}

tr.striped {
    background-color: #7da9c4;
}

div.full-section {
    border-style: groove;
    border-color: red;
    width: 350px;
    margin: auto;
    display: none;

}

div.flight-ticket {
    border-style: dashed;
    background-color: white;
    width: 400px;
    margin: 20px auto;
}

.expand-menu .title {
    cursor: pointer;
    margin: auto;
    display: block;
    padding: 10px;
    color: #013759;
    font-size: 18px;
    background-color: white;
    text-decoration: none;
    background-color: #7da9c4;
    color: white;
}

.expand-menu .title:hover {
    background-color: #4e6b7c;
    color: white;
}

.expand-menu .description {
    margin-left: 25px;
}
